{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">LISTA PLANÓW</h3>
        </div>
         <div class="col d-flex justify-content-end mb-2 noPadding">
            <a href="{% url 'plan_add_recipe' %}" class="btn btn-success rounded-0 pt-0 pb-0 pr-2 pl-2">Dodaj przepis do planu</a>
        </div>
        <div class="col d-flex justify-content-end mb-2 noPadding">
            <a href="{% url 'add_plan' %}"
               class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4">Dodaj
                plan</a>
        </div>
    </div>

    <div class="schedules-content">
        <table class="table border-bottom">
            <thead>
            <tr class="d-flex">
                <th class="col-1">ID</th>
                <th class="col-2">NAZWA</th>
                <th class="col-7">OPIS</th>
                <th class="col-2 center">AKCJE</th>
            </tr>
            </thead>
            <tbody class="text-color-lighter">
            {% for plan in page_obj %}
            <tr class="d-flex">
                <td class="col-1">{{ plan.id_counter }}</td>
                <td class="col-2">{{ plan.name }}</td>
                <td class="col-7">{{ plan.description }}</td>
                <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                    <a href="" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                    <a href="http://127.0.0.1:8000/plan/{{ plan.id }}"
                       class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                    <a href=""
                       class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    <div class="prev_next">

    {% if page_obj.has_previous %}
      <a class="prev btn btn-info" href="?page={{page_obj.previous_page_number}}">Prev</a>
    {% endif %}
    {% if page_obj.has_next %}
      <a class="next btn btn-info" href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}
    <div class="pages">
      {% for pg in page_obj.paginator.page_range %}
        {% if page_obj.number == pg %}
          <a href="?page={{pg}}" class="btn btn-default">{{pg}}</a>
        {% else %}
          <a href="?page={{pg}}" class="btn">{{pg}}</a>
        {% endif %}
      {% endfor %}
    </div>
    <span class="clear_both"></span>

  </div>
    </div>
</div>
{% endblock content %}